
<h1>All Articles</h1>


  <% @articles.each do |article| %>
    <div class="article-container">
        <div class="article-header">
          <h3 class="article-header-h3"><%= article.title%></h3>
        </div>
      <div class="article-summary">
              <%= article.body.truncate(40) %><%= link_to "Show Article", article_path(article), id: "more" %>
      </div>
    </div>
  <% end %>
<% if logged_in? %>
<%= link_to "Create a New Article", new_article_path, class: "new_article" %>
<% end %>

